*~
.project
.cproject
gmon.out
Makefile
Makefile.in
scripts/*
*_la-*
*.la
*.gz
*.o
.libs/
.deps/
m4/
data/
bin/
scripts/
test/
!test/*.c
!test/*.h
!test/*.lua
!test/Makefile.am
INSTALL
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
cscope.out
libtool
oesroot.vpwhistu
oesroot.vtg
products/server/db_error.log
products/oescript_bin/oescript
stamp-h
stamp-h1
tags
modules/scripting/lua_api/doc/tmp/
modules/scripting/lua_api/doc/tmp_cl/
corelib/oejcl_parser.tab.h
corelib/oejcl_parser.tab.c
corelib/oejcl_parser.output
corelib/lex.yy.c
modules/scripting/java/javaclient/oejava.jar
modules/scripting/java/javaclient/out/
modules/scripting/nodejs/.lock-wscript
modules/scripting/nodejs/build/
modules/scripting/nodejs/tmp/
modules/scripting/nodejs/node_modules/
modules/scripting/nodejs/package.json
modules/scripting/nodejs/wscript
modules/scripting/swig/perl/perlmod/Build
modules/scripting/nodejs/db_error.log
modules/scripting/swig/R/rmod/DESCRIPTION
modules/scripting/swig/R/rmod/oescript/
modules/scripting/swig/java/oejavaimpl.jar
modules/scripting/swig/java/out/
modules/scripting/swig/perl/perlmod/_build/
modules/scripting/swig/perl/perlmod/blib/
modules/scripting/swig/perl/perlmod/db_error.log
modules/scripting/swig/perl/perlmod/oescriptimpl.pod
modules/scripting/swig/python/pythonmod/build/
modules/scripting/swig/go/gomod/oescriptimpl.go
modules/scripting/swig/go/gomod/oescriptimpl_gc.c
modules/scripting/swig/perl/perlmod/Build.PL
modules/scripting/swig/perl/perlmod/MYMETA.json
modules/scripting/swig/perl/perlmod/MYMETA.yml
modules/scripting/swig/perl/perlmod/OeLinkBin.PL
modules/scripting/swig/perl/perlmod/lib/oescript.pm
modules/scripting/swig/perl/perlmod/lib/oescriptimpl.pm
modules/scripting/swig/python/pythonmod/oescriptimpl.py
modules/scripting/swig/python/pythonmod/setup.py
